.slideshow .slidesjs-pagination {
  padding: 0; }
  .slideshow .slidesjs-pagination .slidesjs-pagination-item {
    background: #000000;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block; }
    .slideshow .slidesjs-pagination .slidesjs-pagination-item a {
      width: 20px;
      height: 20px;
      display: block;
      font-size: 0px; }
    .slideshow .slidesjs-pagination .slidesjs-pagination-item .active {
      background: #333333; }

.show-content {
  display: inline-block;
  vertical-align: top;
  horizontal-align: right; }
  .show-content_title {
    margin-top: 0; }
  .show-content .extract {
    text-align: justify;
    line-height: 1.5;
    font-size: .90em; }
  .show-content a {
    color: #555; }

.thump {
  vertical-align: top;
  width: 100%;
  padding: 0;
  float: left; }
